{% extends 'music/albums_list.html' %}

{% block content %}
<div class="container mt-5">
<div class="row">
<div class="col-6 offset-md-2">


    <h1>Изменить альбом</h1>
    <form class="" action="{% url 'albums_update_url' slug=album.slug %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

    <div class="form-group">
    {{ album_form.album_title.label }}
    {{ album_form.album_title }}
    </div>
    <div class="form-group">
    {{ album_form.album_type.label }}
    {{ album_form.album_type }}
    </div>
    <div class="form-group">
    {{ album_form.date.label }}
    {{ album_form.date }}
    </div>
    <div class="form-group">
    {{ album_form.producer.label }}
    {{ album_form.producer }}
    </div>
    <div class="form-group">
    {{ album_form.label.label }}
    {{ album_form.label }}
    </div>
    <div class="form-group">
    {{ album_form.country.label }}
    {{ album_form.country }}
    </div>
    <div class="form-group">
    {{ album_form.album_img.label }}
    {{ album_form.album_img }}
    </div>
    <button type="submit" class="btn btn-primary">Изменить</button>
    <a href="{% url 'albums_delete_url' slug=album.slug %}" class="btn btn-outline-danger">Удалить</a>
    </form>
{% if album.album_img.url != None %}
<img src="{{ album.album_img.url }}" height="300" width="300" />
{% endif %}


<p></p>
{{ song_form }}
</div>
</div>
</div>
{% endblock %}
