{% extends 'music/authors_list.html' %}

{% block content %}
<div class="container mt-5">
<div class="row">
<div class="col-6 offset-md-2">


    <h1>Изменить автора</h1>
    <form class="" action="{% url 'authors_update_url' slug=author.slug %}" method="post">
            {% csrf_token %}
<div class="form-group">
{{ author_form.author_title.label }}
{{ author_form.author_title }}
</div>
<div class="form-group">
{{ author_form.author_bio.label }}
{{ author_form.author_bio }}
</div>
<div class="form-group">
<button type="submit" class="btn btn-primary">Изменить</button>
<a href="{% url 'authors_delete_url' slug=author.slug %}" class="btn btn-outline-danger">Удалить</a>
</form>
</div>
</div>
</div>
</div>
{% endblock %}
