{% extends 'music/songs_list.html' %}

{% block content %}
            <div class="container mt-5">
        <div class="row">
<div class="col-6 offset-md-2">



<!-- INPUT SONG -->

<h1>Новый трек</h1>
<form class="" action="{% url 'songs_create_url' %}" method="post">
        {% csrf_token %}


<div class="form-group">
{{ song_form.song_title.label }}
{{ song_form.song_title }}
</div>
<div class="form-group">
{{ song_form.song_time.label }}
{{ song_form.song_time }}
</div>
<div class="form-group">
{{ song_form.artist.label }}
{{ song_form.artist }}
</div>
<div class="form-group">
{{ song_form.album.label }}
{{ song_form.album }}
</div>
<div class="form-group">
{{ song_form.genre.label }}
{{ song_form.genre }}
</div>
<button type="submit" class="btn btn-primary">Создать</button>
</form>



</div>
</div>
</div>
{% endblock %}
